
#menu-icon{
    font-size: 3rem;
    color: var(--gray-letter);
    display: none;
}
#menu-icon:hover{
    color: var(--ciano-letter);
}

.main{
    color: var(--gray-letter);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:12vw;
    margin-bottom: 5vw;
}

.main-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
.main-content h1{
    font-size: 2.4rem;
    font-weight: bold;
}
.social a{
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border:0.2rem solid var(--blue-letter);
    color:var(--blue-letter);
    border-radius:50%;
    font-size: 1rem;
    margin-right: 2rem;
    margin-top: 1rem;
    transition: .7s;
}
.social a:hover{
    background: var(--ciano-letter);
    color:var(--bg-color);
    box-shadow: 0 0 2rem var(--ciano-letter);
}