* {
    margin:0;
    margin-right: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
}

:root {
    --bg-color:#1c1c1c;
    --bg-color2:#2c2c2c;
    --blue-letter:#00ffff;
    --ciano-letter:#0ef;
    --gray-letter:#d3d3d3;
    --white-letter: #FFFF;
    --one-letter:#111111;
}
html{
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
}
span{
    color:var(--blue-letter);
}
.btn{
    background:var(--ciano-letter);
    color:var(--one-letter);
    box-shadow:var(--ciano-letter);
    display: inline-block;
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 20px var(--ciano-letter);
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    transition: .5s ease;
}
.btn:hover{
    box-shadow:none;
}


@keyframes slideRight{
    0% {
        transform: translateX(-50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0% {
        transform: translateY(100vw);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}